<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.medical.dao.BookMapper">
    <insert id="addBook" parameterType="Books">
        insert into mdcldb.books (bookName, bookCounts, detail)
        values (#{bookName}, #{bookCounts}, #{detail});
    </insert>

    <delete id="deleteBookById" parameterType="int">
        delete
        from mdcldb.books
        where bookID = #{bookid};
    </delete>

    <update id="updateBook" parameterType="Books">
        update mdcldb.books
        set bookName=#{bookName},
            bookCounts=#{bookCounts},
            detail=#{detail}
        where bookID = #{bookID};
    </update>

    <select id="queryBookById" resultType="Books">
        select *
        from mdcldb.books
        where bookID = #{bookid};
    </select>

    <select id="queryAllBooks" resultType="Books">
        select *
        from mdcldb.books;
    </select>

    <select id="queryBookByName" resultType="Books">
        select *
        from mdcldb.books
        where bookName = #{bookName}
    </select>
</mapper>